
@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* <!-- Header Part Started --> */

/* header {
    width: 100%;
    height: 100%;
} */

header {
    /* background-image: url(../img/Vector\ 1.png); */
    
    position: relative;
}

/* <!-- Nav Part --> */

header .nav {
    width: 90%;
    padding: 32px 0 0 0;
    margin: 0 auto;
}

header .nav .nav__menu ul {
    font-family: 'Poppins-Regular';
    display: flex;
    justify-content: flex-end;
    column-gap: 50px;
}

.nav__li {
    
    color: #FFFFFF;
    font-size: 30px;
    line-height: 45px;
    transition: 0.4s;
    
}

.nav__li:hover {
    
    
    background: #FFFFFF;
    border-radius: 50px;
    padding: 3px 10px;
    color: #1E1E1E;
    transition: 0.4s;
    -webkit-box-shadow: 0px 0px 100px -20px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 0px 0px 100px -20px rgba(34, 60, 80, 0.2);
box-shadow: 0px 0px 100px 22px rgba(34, 60, 80, 0.2);
}



.contato-2 {
    font-family: 'Poppins-Regular';
    font-size: 30px;
    line-height: 45px;
    padding: 13px 13px;
    color: #1E1E1E;
}

.vector-1 {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    z-index: -1;
    left: 767px;
}

.dolor {
    position: relative;
    /* display: flex; */
    width: 90%;
    margin: 0 auto;
    margin-top: 300px;
}

h1 {
    font-family: 'Poppins-Regular';
    font-size: 60px;
    line-height: 90px;
}

.p1 {
    font-family: 'Poppins-Medium';
    font-size: 20px;
    line-height: 30px;
    margin-top: 17px;
}

.image-1 {
    position: absolute;
    left: 650px;
top: -150px;
}

